body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
    max-width: 300px;
    border: 2px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.display {
    grid-column: span 4;
    background-color: #333;
    color: #fff;
    text-align: right;
    padding: 10px;
    font-size: 1.5em;
}

button {
    padding: 15px;
    font-size: 1.2em;
    background-color: #fff;
    color: #333;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ddd;
}

.operator {
    background-color:lightskyblue;
    color: #fff;
}
